@import "../functions.scss";
@import "../containers.scss";
@import "../colors.scss";
@import "../defaults.scss";

.container {
    height: 100vh
}

.overlay {
    z-index: 9;
    margin: 30px;
    background: colour("orange");
}