@import "../functions.scss";
@import "../containers.scss";
@import "../colors.scss";
@import "../defaults.scss";

.container {
    height: 100vh;

    @include breakMax("smallTablet") {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
}

.overlay {
    z-index: 9;
    margin: 30px;
    background: colour("orange");
}