@import "../functions.scss";
@import "../containers.scss";
@import "../colors.scss";
@import "../defaults.scss";

.button {
	width: 100%;
	border: none;
	color: #000;
	font-size: medium;
	margin: auto;
	transition: 1s;
	cursor: pointer;
	text-align: center;
	display: block;
	padding: 7px;
	&:hover, &:active, &:focus {
		color: colour("orange");
		background-color: colour("black");
		border-radius: 5px;
	}
}

.submit {
	background-color: colour("orange");
	border-radius: 5px;
}
