@import "../functions.scss";
@import "../containers.scss";
@import "../colors.scss";
@import "../defaults.scss";

.container {
    position: absolute;
    z-index: 0;
    width: 70vw;
    height: 100vh;
    top: 0;
    right: 0;

    @include breakMax("smallTablet") {
        width: 100vw;
        height: 50vw;
        position: relative;
    }
}