@import "../functions.scss";
@import "../containers.scss";
@import "../colors.scss";
@import "../defaults.scss";

.container {
    background: transparent url('../../components/dashboard/images/Asset\ 23.png') 100% 0% no-repeat padding-box;
    background-color: #1F2029;
    opacity: 1;
    width: 100fr;
    height: 100vh;
    padding: 0 2rem;
    padding-bottom: 40px;
    color: white;
    font-weight: lighter;
    position: relative;
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    height: 80vh;
    @include breakMax("tablet") {
        flex-wrap: wrap;
    }
    @include breakMax("smallTablet") {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}

.sideColumn {
    width: 25vw;
    background-color: #67717b8f;
    border: 1px solid colour('white');
    border-radius: 5%;
    @include breakMax("tablet") {
        width: 100vw;
    }
    @include breakMax("smallTablet") {
        height: 30vh;
    }
}
.left {
    @include breakMax("tablet") {
        width: 36vw;
        height: 40vh;
    }
    @include breakMax("smallTablet") {
        width: 80vw;
        height: 30vh;
        margin-bottom: 2rem;
    }
}
.right {
    @include breakMax("smallTablet") {
        height: 30vh;
        width: 80vw;
        margin-top: 0;
    }
    @include breakMax("tablet") {
        height: 30vh;
        margin-top: 2rem;
    }      
}

.middleInfo {
    width: 40vw;
    border: 2px solid colour("darkOrange");
    background: #ffb32c3d;
    border-radius: 5%;

    @include breakMax("tablet") {
        width: 46vw;
        height: 40vh;
    }

    @include breakMax("smallTablet") {
        width: 80vw;
        margin-top: 0;
    }
}