@import "../functions.scss";
@import "../containers.scss";
@import "../colors.scss";
@import "../defaults.scss";

.container {
	background: colour("white");
	position: absolute;
	z-index: 2;
	width: 40vw;
	height: 100vh;
	-webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);

	@include breakMax("smallTablet") {
		width: 100vw;
		position: relative;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}	
}

.orangeBlock {
	margin: auto;
	width: 90px;
	height: 4px;
	background-color: colour("orange");
}

.form { 
	width: 25vw;
	position: absolute;
	left: 70px;
	top: 140px;

	@include breakMax("smallTablet") {
		width: 50vw;
		position: relative;
		margin: auto;
		top: 0;
		left: 0
	}
}

.inputField {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 40px;
	border-radius: 5px;
	border: solid;
	border-width: thin;
	padding-left: 20px;
	margin-bottom: 20px;
}

.top {
	margin-top: 30px;
}

.formItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-left: 20px;
	transition: 1s;
	line-height: 0;
	margin: 25px 0;
	width: 270px;
}

.formInput {
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	border: none;
	font-size: small;
	font-weight: 200;
}

.label {
	color: colour("darkestGrey");
	display: block;
	font-size: remSize(14);
	margin: 0;
}

.error {
	color: colour("red");
	display: block;
	font-size: remSize(14);
	font-weight: 500;
	margin-top: spacing("xxsmall");
	text-align: right;
}

.success {
	color: colour("orange");
	display: block;
	font-size: remSize(14);
	font-weight: 500;
}