@import "../functions.scss";
@import "../containers.scss";
@import "../colors.scss";
@import "../defaults.scss";

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(187, 176, 176);
	-webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
	width: 40%;
	padding: 30px;
	height: 100%;
}

.formItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border-radius: 5px;
	border: 1px solid #000;
	padding-left: 20px;
	transition: 1s;
	line-height: 0;
	margin: 25px 0;
}

.formInput {
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	border: none;
	font-size: small;
	font-weight: 200;
}

.label {
	color: colour("darkestGrey");
	display: block;
	font-size: remSize(14);
	margin: 0;
}

.error {
	color: colour("red");
	display: block;
	font-size: remSize(14);
	font-weight: 500;
	margin-top: spacing("xxsmall");
	text-align: right;
}

.success {
	color: colour("orange");
	display: block;
	font-size: remSize(14);
	font-weight: 500;
}