.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.weeklyWeather {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

.weeklyWeatherItem {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    width: fit-content;
}

.weeklyWeatherItem :first-child {
    display: flex;
    flex-direction: row;
    width: 50px;
}

.weeklyWeatherItem :nth-child(2) {
    width: 20px;
    height: 20px;
    margin: -5px;
}