@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap");
@import "./colors.scss";
@import "./defaults.scss";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	background-color: colour("white");
	color: colour("black");
	font-size: default("font-size");
	font-weight: 400;
	line-height: default("line-height");
	min-height: 100vh;
	@include breakMax("tablet") {
		font-size: default("font-size-small");
		line-height: default("line-height-mobile");
	}
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	transition: all ease-in 0.2s;
	&:hover, &:active, &:focus {
		border-radius: 0;
		color: colour("orange");
		outline: none;
	}
}
